faiss-cpu
PyMuPDF
numpy
google-genai
ipython
python-dotenv
google-api-core
langchain
tqdm
streamlit
fastapi
uvicorn
pycountry
langcodes
lingua-language-detector
nltk
pydantic
requests
python-multipart
redis
pyyaml
